{% extends "home/base_head.html" %}
{%load static %}
{% load widget_tweaks %}

{% block content_l0 %}
	{% if user.is_authenticated %}
    	<!-- wrapper -->
	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
	    <div class="bg-light border-right" id="sidebar-wrapper">
		  <div class="sidebar-heading">管理中心</div>
		  <div class="list-group list-group-flush">
			<a href="{%url 'services:service-main' %}" class="list-group-item list-group-item-action bg-light">控制台</a>
			<a href="#" class="list-group-item list-group-item-action bg-light">月度管理</a>
			<a href="#" class="list-group-item list-group-item-action bg-light">房屋信息</a>
			<a href="{%url 'services:tenant-main' %}" class="list-group-item list-group-item-action bg-light">住户信息</a>
			<a href="#" class="list-group-item list-group-item-action bg-light">通知</a>
		  </div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- MAIN -->
		<div id="page-content-wrapper">
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
        		</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
<!--						<li class="nav-item">-->
<!--							<a class="nav-link" href="#">管理员</a>-->
<!--						</li>-->
						<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						管理员
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{%url 'users:profile' %}">账号中心</a>
							<a class="dropdown-item" href="{%url 'admin:index' %}">Admin</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{%url 'users:logout' %}">退出</a>
						</div>
						</li>
					</ul>
				</div>
      		</nav>

			<div class="container-fluid">
				<div class="row">
					{% if messages %}
					{% for message in messages %}
					<div class="alert alert-{{message.tags}}">{{message}}</div>
					{% endfor %}
					{% endif %}
				</div>

				<div class="row">
					{% block service_content_l0 %}{% endblock service_content_l0 %}
					<button class="create-book btn btn-primary" type="button" name="button">add customer</button>
				</div>
			</div>

		</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

	<!-- JS -->
	</div>
	{% else %}
	{% endif %}
{% endblock content_l0 %}


{% block inner_js %}
<script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap_modals/js/jquery.bootstrap.modal.forms.js' %}"></script>

<script>
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});
</script>


<script type="text/javascript">
$(document).ready(function() {
    $(".create-book").modalForm({
        formURL: "{% url 'services:add-customer' %}"
    });
});
</script>

{% endblock inner_js %}